html{
	background-color: #ECECEC;
}
body{
	background-color: white; 
}


.button{
	background-color: #CACAEF;
	color:black;
	border: 3px solid #0A0ACF;
	border-radius: 8px;
}
.button:hover{
	background-color: #E4E4EF;
	border: 4px solid #CACACF;
}
.icon_button{
	background-color: transparent;
	border:none;
}
.icon_button:hover{
	color: red;
	cursor: pointer;
}
.btn_nav{
	background-color: #5050EF;
	color:white;
}
.btn_nav:hover{
	background-color: #7575EF;
	border: 4px solid #7070EF;
}

.btn_nav > a:hover{
	background-color: rgb(200, 210, 210);
}

#login_errmsg{
	color: red;
}
/* std button attributes */
#meta_nav i{
	font-size:32px;
	color: #666;
}
#meta_nav i:hover{
	color:#AAA;
}

.clickable:hover{
	color:red;
}


