
.pag_button{
	background: #BDB;
	border-radius: 10px;
	color: #040;
}

.pag_button:hover{
	background-color: #CFC;
	box-shadow: 0 0 4px #AAA ;
}

.pag_button_current{
	background-color: #BCB;
	border: 1px solid #363;
}
