@import url("colorschemes/elements_green");

.parallellogram{
	transform: skew(-20deg); 
	-o-transform: skew(-20deg); 
	-moz-transform: skew(-20deg); 
	-webkit-transform: skew(-20deg);
}

.button {
	padding: 9px 15px;
	text-align: center;
	text-decoration: none;
	word-wrap: break-word;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}
