/**
 * stylesheet for page: forum;
 * @author Mikael Holmbom
 * @version 1.0
 */

@import url("forum_subject.css");
@import url("forum_thread.css");
@import url("colorschemes/forum_green.css");
@import url("pagination.css");

#forum_content{
	
}

#forum_content_list{
	margin-left: 10px;
	max-width: 92%;
	min-height: 280px;
}
.forum_content_listitem{
	min-height: 0;
	margin-bottom: 8px;
}

.forum_content_listitem  a{
	text-decoration: none;

}
.forum_content_listitem .topic:hover{
	text-decoration: underline;
}

.forum_content_listitem:hover .info{
	text-decoration: none;
}

.forum_content_listitem .topic{
	margin-left: 8px;
	margin-top: 3px;
	margin-bottom: 0;
	font-size: 100%;
	font-weight: normal;
}

.forum_content_listitem .info{
	position:relative;
	top:-4px;
	font-size:85%;
	margin-left: 20px;

}

.forum_button{	
	padding-top: 3px;
	padding-bottom: 3px;
}

.topic{
	text-transform: capitalize;
}


/***********************************
	BREADCRUM
*************************************/
#breadcrum{
	margin: 2px 0 10px;
	overflow:auto;
}
 #breadcrum > div{
 	float:left;
	min-width: 90px;
	min-height: 20px;

 }

#breadcrum .breadcrum_link{
	margin: 4px 6px;
	padding: 0px 20px;
	
}


/****************************
 * BUTTONPANEL
 ****************************/

#forum_content{
	
}

#forum_content h2{
 	display: inline-block;
 	font-weight: bold;
 	font-size: 120%;
 	text-transform: capitalize;
 	margin-bottom: 0;
 }

#forum_top_bts{
	display: inline-block;
	min-height: 32px;
	float:right;
}
#forum_top_bts .button{	
	float:right;
}

#forum_bottom_bts{
	min-height: 32px;
}
#forum_bottom_bts .button{
	float:right;
}