@import url("main.css");
@import url("colorscheme_main.css");

#newsfeed article {
	margin: 20px;
	padding: 6px;
	border: 3px solid black;
	border-radius: 10px;
	border-style: inset;
	
	background-color: #FFFFAA; /* std value*/
	background: -webkit-linear-gradient(left top, #FFFFDD, #FFFFEE); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #FFFFDD, #FFFFEE); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #FFFFDD, #FFFFEE); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #FFFFDD, #FFFFEE); /* Standard syntax */

}
#newsfeed article .title {
	font-size: 100%;
	font-weight: bold;
	margin:0;
}

#newsfeed article .author{
	margin-left: 30px;
	font-size: 90%;
	overflow:auto;
	
}
#newsfeed article .message{
	margin: 10px;
}
#newsfeed article .created{
	font-size: 80%;
}