
#latestThreads {
	border: 2px solid black;
	margin-bottom: 10px;
	margin-left: 10px;
	display: inline-block;
	padding: 2px 12px 6px;
	max-width: 300px;
	/*width:100%;*/
	background-color: #E2F6E2;
}

#latestThreads h1 {
	font-size: 14px;
}

#latestThreads a {
	text-decoration: none;
	color:black;
}

#latestThreads a:hover {
	color:red;
}

.latestThreadViewRef {
	background-color: white;
	border: 1px solid black;
	
	margin-bottom: 4px;
	padding: 4px 8px;
}

.latestThreadViewRef .topic {
	font-size: 70%;	
	font-weight: bold;
}

.latestThreadViewRef .message {
	margin-left: 3px;
	margin-bottom: 6px;
	min-height: 30px;
	font-size: 80%;	
}

.latestThreadViewRef .author {
	font-size: 70%;	
	text-align: right;
}
