/**
 * stylesheet for information elements 
 *
 * @author Mikael Holmbom
 * @version 1.0
 */

@import url("colorschemes/information_green.css");


#infopanel_latestthreads {

}

.infopanel_banner {
	padding: 6px;
	margin: 0;
	font-size: 94%;
	letter-spacing: 1px;
}

.infopanel h1 {
	padding-left: 8px;
}

.infopanel_content {
	margin: 0px 0px;
}

.infopanel_content a {
	text-decoration: none;
}


/*************
 *	CONCRETE infopanels
 *************/

.latestThreadViewRef {
	padding: 5px 10px 6px;
}

.latestThreadViewRef .topic {
	font-size: 70%;	
	font-weight: bold;
}

.latestThreadViewRef .message {
	padding-left: 3px;
	padding-bottom: 6px;
	min-height: 30px;
	font-size: 80%;	
}

.latestThreadViewRef .author {
	font-size: 70%;	
	text-align: right;
}
