/**
 * stylesheet for information elements 
 *
 * @author Mikael Holmbom
 * @version 1.0
 */

@import url("colorschemes/information_green.css");


#infopanel_latestthreads {

}

.infopanel_banner {
	padding: 6px;
	margin: 0;
}

.infopanel_banner {
	font-size: 94%;
	letter-spacing: 1px;
}

.infopanel_content {
	margin: 3px 4px;	
}

.infopanel_content a {
	color: black;
	text-decoration: none;
}



/*************
 *	CONCRETE infopanels
 *************/

.latestThreadViewRef {
	margin-bottom: 8px;
	padding: 4px 5px 6px;
}

.latestThreadViewRef .topic {
	font-size: 70%;	
	font-weight: bold;
}

.latestThreadViewRef .message {
	margin-left: 3px;
	margin-bottom: 6px;
	min-height: 30px;
	font-size: 80%;	
}

.latestThreadViewRef .author {
	font-size: 70%;	
	text-align: right;
}
