@import url("elements.css");
@import url("authorization.css");
@import url("colorschemes/main_green.css");
@import url("navigation.css");

html {
	font-family: sans-serif;
	text-align: left;
}

body {
	margin:0;
}

header {
	
}

#header_content {
	/*display: inline-block;*/
	margin: 0 auto;
	max-width: 1200px;
	min-width: 960px;
}

hr {
	position:relative;
	top:-8px;
	margin:0 0px;
	padding:0;
}

#topheader {
	margin: 0 auto;
	/*padding-left: 60px;*/

}

#topheader a {
	text-decoration: none;
}

#topheader > div {
	margin: 0 10%;	
	text-transform: uppercase;
	color:black;
	display: inline-block;
}

#logo {
	min-width: 860px;
}

aside {
	margin-left: 10px;
}

main {
	width:90%;
	min-width: 480px;
	max-width: 1180px;
	min-height: 420px;
	overflow:auto;
	margin: 40px auto;
}

main article {
	
}

footer {
	margin-top: 40px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 110px;
}

#footer_content {
	margin: 0 auto;
	max-width: 890px;
}

.clickable {
	
}

.clickable:hover {
	cursor: pointer;
}

.button_panel {
	overflow: auto;
}

.button_panel > .button {
	margin-right: 10px;
}
