@import url("colorschemes/main_green.css");
@import url("elements.css");
@import url("authorization.css");

html {
	font-family: sans-serif;
	text-align: left;
}

body{
	overflow:auto;
	margin: 0px 0 64px;

}

header {
	margin: 0 auto;
	min-width: 800px;
}

nav {
	padding-left: 8px;
	margin-bottom: 0;
}

nav #page_nav li{
	display: inline-block;
}

nav #page_nav{
	
}

nav #meta_nav {
	margin: auto 20px;
	margin-left: 40px;
	float:right;
}

hr{
	position:relative;
	top:-8px;
	margin:0 0px;
	padding:0;
}

.btn_nav {
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 10px 10px 0 0;
	padding: 14px 8px 4px;
	margin-left: 4px;
	margin-right: 4px;
	min-width: 90px;
}

#topheader{
	padding-left: 60px;

}
#topheader a {
	text-decoration: none;
}
#topheader > div{
	margin: 0 10%;	
	text-transform: uppercase;
	color:black;
	display: inline-block;
}

#subnav{
	margin:0 10%;
}

#subnav > ul{
	margin-top:0;
}

#subnav > ul > li{
	vertical-align: top;
	
	margin-top:0;
	margin-right:16px;
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
}

#subnav > ul > #metanav_li{
	float:right;
	margin-right: 50px;
}

#subnav > #username_label {
	
}

#subnav > #username_label > a{
	text-decoration: none;
}

#meta_nav > a{
	display: inline-block;
}

aside{

}

main {
	width:90%;
	min-width: 480px;
	max-width: 1180px;*/
	min-height: 420px;
	overflow:auto;
	margin: 0 auto;
	overflow:auto;
}

main article{
	margin:auto;	
}

footer {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 80px;
}

/******************
 * META_NAV
 *******************/
#meta_nav a{
	
}

#meta_nav > div{
	display: inline-block;
}

/* std button attributes */
#meta_nav i{
	font-size:32px;
}

.clickable{
	

}

.clickable:hover{
	cursor: pointer;
}

.button_panel{
	overflow: auto;
}

.button_panel > .button{
	margin-right: 10px;
}
