/**
 * stylesheet for navigation elements 
 *
 * @author Mikael Holmbom
 * @version 1.0
 */

@import url("colorschemes/navigation_green.css");


nav {
	margin-bottom: 0;
	margin: 0 auto;
	width: 92%;
	text-align: left;
	display: inline-block;
}

header ul,
header  ul li {
	display: inline-block;
	/* remove all std padding & margin for lists */
	padding: 0;
	margin: 0;
}

.btn_nav {
	/* buttons used to navigate pages */
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 14px 12px 4px;
	margin-left: 4px;
	margin-right: 4px;
	min-width: 90px;
}


/******************
 * PAGE_NAV
 * navigation on website pages
 *******************/


/******************
 * USER_NAV
 * navigation section for user content
 *******************/

#user_nav {
	text-transform: none;
	float: right;
	vertical-align: middle;
}

#user_dropdown {
	min-width: 35px;
	padding: 10px 10px 0px;/* no bottom padding */
	margin: 0;
}


/******************
 * SUB_NAV
 *******************/

#sub_nav {
	margin: 0 auto;
	/*width: 82%;*/
	
}

#sub_nav * {
	margin-left: 2px;
}


/******************
 * META_NAV
 *******************/
 
#meta_nav {
	text-align: right;
	float:right;
} 

/* std button attributes */
#meta_nav i {
	font-size:32px;
}
