
#suggestionlist{
	padding: 2px 5px;
}
.suggestionlist_searchres_user {
	padding: 4px 6px;
	margin: 1px 0;
	color: #505050;

}
.suggestionlist_searchres_user:hover {
	background-color: #EAEAEA;
	color: black;
}
a {
	text-decoration: none;

}

.searchres{
	
	margin: 12px 0;
	width:50%;
}
.searchres_item{
	color: black;
	
	border: 1px solid black;
	border-radius: 7px;
	padding: 10px 8px;
	margin: 8px 0;

	background-color: #D0D0D0; /* std value*/
	background: -webkit-linear-gradient(left top, #D0D0D0, #F9F9F9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #D0D0D0, #F9F9F9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #D0D0D0, #F9F9F9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #D0D0D0, #F9F9F9); /* Standard syntax */
	
}
.searchres_item:hover{
	border: 1px solid #AAAAAA;
	background-color: #E0E0E0; /* std value*/
	background: -webkit-linear-gradient(left top, #E0E0E0, #FDFDFD); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #E0E0E0, #FDFDFD); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #E0E0E0, #FDFDFD); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #E0E0E0, #FDFDFD); /* Standard syntax */
	
}