/**
 * stylesheet for page: user;
 * @author Mikael Holmbom
 * @version 1.0
 */


#userinfo {
	float:left;
}

#userinfo .userinfo_label {
	font-weight: bold;
}

#admin_tools {
	float:right;
	border:solid 1px black;
	padding: 10px;
}

#admin_tools .header {
	font-weight: bold;
	text-transform: capitalize;
}

#admin_tools .switch {
	margin: 0 10px;
}
