 /*
  SWITCHBUTTON
 *****************************************************/

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    display:none;
  }


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*
  TOOLTIP
 *****************************************************/

 /* Tooltip container */
.tooltip {
    position: relative;
    
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -100px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {

}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {


    -webkit-animation-name: showElement; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    animation-name: showElement;
    animation-duration: 300ms;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes showElement{
  0% {

  }
  100% {
    visibility: visible;
    opacity: 1;

  }
}




/*
  ACCORDION
 *****************************************************/

 /* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;  
}




/******************************************************************
 *
 * DROPDOWN LIST
 * 
 ******************************************************************/

  /* Dropdown Button */
.dropbtn {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    top:100%;
    right:-20%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    margin:2px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #BBB;
  color:white;
}



/**************************************
*
* SIDE PANEL 
*
***************************************/


.sidepanel {
    height: 100%; 
    width: 0; /* std value, used as hidden */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #FCFCFC;
    border:solid 0px black;
    border-radius: 8px 0 0 8px;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidepanel */

    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}


/* When you mouse over the navigation links, change their color */
/*.sidepanel div:hover, .offcanvas div:focus{
    color: #f1f1f1;
}*/

/* Position and style the close button (top left corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 36px;
    
}
.closebtn{
  text-decoration: none;
  color: #555;
}
.closebtn:hover{
  color: #AAA;
}

.visible_sidepanel{
  width: 420px;
  border:solid 2px black;

}

@media screen and (max-width: 680px) {
  .visible_sidepanel{
    position:fixed;
    left:0;
    right:0;
    width:auto;

  } 
}


.searchres_item > a{
  font-size: 24px;
}
