/**
 * COLORSCHEME
 * green
 * @author Mikael Holmbom
 * @version 1.0
 */

.infopanel_banner {
	background-color: #CBEFCB;
	border-radius: 4px 4px 0 0;
	color: #252;
}

.infopanel {
	text-decoration: none;
}

.infopanel_content a {
	color: #2D2D2D;
}
.infopanel_content a:hover {
	text-decoration: underline;
}


/*************
 *	CONCRETE infopanels
 *************/

.latestThreadViewRef {
	border-top: 1px solid #DBDBDB;
	/*border: 1px solid black;*/
	background-color: #F5F5F5;
	/*background-color: #FFFFE4;*/
}