#
# defines rewrite rules for pages 
# 
# author: Mikael Holmbom

DirectoryIndex src/index.phtml

Options +FollowSymLinks -MultiViews

RewriteEngine on

# NC -> not casesensitive
# L  -> end ruleprocessing

# RewriteRule
####################################

# startpage
RewriteRule ^$ src/index.phtml?page=news [NC,L]

# Page about
# startsubpage: about
# subpage must start with alpha char
RewriteRule ^(about)$ src/index.phtml?page=$1&subpage=about [NC,L]
RewriteRule ^(about)/([a-z][a-z0-9]*)$ src/index.phtml?page=$1&subpage=$2 [NC,L]

RewriteRule ^(ajax)/([a-z][a-z0-9]*)/(.*)$ src/ajax/$2.php?$3 [NC,L]

RewriteRule ^(forum)$ src/index.phtml?page=$1&subpage=main [NC,L]
RewriteRule ^(forum)/(thread|subject)/([0-9]+)$ src/index.phtml?page=$1&subpage=$2&$2=$3&page_index=1 [NC,L]
RewriteRule ^(forum)/(thread|subject)/([0-9]+)/([0-9]+)$ src/index.phtml?page=$1&subpage=$2&$2=$3&page_index=$4 [NC,L]
RewriteRule ^(forum)/(post)$ src/index.phtml?page=$2 [NC,L]

RewriteRule ^(search)/([a-z][a-z0-9]*)/([a-z][a-z0-9]*)$ src/index.phtml?page=$1&subpage=$2&type=$2&value=$3 [NC,L]

# Page user
# startsubpage: info
# username must start with alpha char
# subpage must start with alpha char
RewriteRule ^(user)/([a-z][a-z0-9]*)$ src/index.phtml?page=$1&user=$2&subpage=info [NC,L]
RewriteRule ^(user)/([a-z][a-z0-9]*)/([a-z]*)$ src/index.phtml?page=$1&subpage=$3&user=$2 [NC,L]

RewriteRule ^([a-z][a-z0-9]*)/([a-z][a-z0-9]*)$ src/index.phtml?page=$1&subpage=$2 [NC,L]
# no subpage
RewriteRule ^([a-z][a-z0-9]*)$ src/index.phtml?page=$1 [NC,L]
