/**
 * stylesheet used by pagination elements
 *
 * @author Mikael Holmbom
 * @version 1.0
 */
@import url("colorschemes/pagination_green.css");

.pag_button{
	font-size: 90%;
	padding: 2px;
	min-width:26px;
	min-height:20px;
}

.pag_button:hover{

}

.pag_button_current{

}

.link{
	float:left;
	margin: 0 4px;
}

#pag_nav{
	font-size: 20px;
	margin: 10px auto 0;
	height: 50px;
	width:50%;
}

#pag_nav i {
	font-size: inherit;
	align-content: center;
	display: inline-block;
}
#pag_nav ul {
	list-style-type: none;

}

#pag_nav  a {
	margin:auto 10px;
	text-decoration: none;
	text-align: center;
	float:left;
}

.pag_button{
	padding: 2px;
	min-width:26px;
	min-height:20px;
	
}
