/**
 * COLORSCHEME
 * green
 * @author Mikael Holmbom
 * @version 1.0
 */

html{
	background-color: #FAFAFA;
}

body{
	background-color: white; 
}

header{
	background-color: #686;
}

footer {
	border-top: 3px solid #666;
	background-color: #6C746C;
	color: #FDFDFD;
}

footer a {
	color: #F0F0F0;
}

#topheader{
	
}

#topheader > div {
	max-width: 860px;
}

#topheader h1 {
	color: #EFE;
}

.icon_button{
	background-color: transparent;
	border:none;
}

.icon_button:hover{
	color: red;
	cursor: pointer;
}

#login_errmsg{
	color: red;
}

.clickable:hover{
	color:red;
}
