/**
 * COLORSCHEME
 * green
 * @author Mikael Holmbom
 * @version 1.0
 */

html{
	background-color: #FAFAFA;
}

body{
	background-color: white; 
}

header{

}

#topheader{
	background-color: #686;
}

#topheader > div {
	max-width: 860px;
}

#topheader h1 {
	color: #EFE;
}

.icon_button{
	background-color: transparent;
	border:none;
}

.icon_button:hover{
	color: red;
	cursor: pointer;
}

.btn_nav{
	background-color: #C8F4C8;
	border:0;
	color: #333;
}

.btn_nav:hover{
	background-color: #CFEFCF;
	border: 0;
	color:black;
}

.btn_nav > a:hover{
	background-color: rgb(200, 210, 210);
}

#login_errmsg{
	color: red;
}

/* std button attributes */
#meta_nav i{
	font-size:32px;
	color: #666;
}

#meta_nav i:hover{
	color:#AAA;
}

.clickable:hover{
	color:red;
}
