/**
 * COLORSCHEME
 * green
 * @author Mikael Holmbom
 * @version 1.0
 */
 
.pag_button{
	background-color: #686;
	border-radius: 10px;
	color: #EFE;
}

.pag_button:hover{
	background-color: #8A8;
	box-shadow: 0 0 4px #AAA ;
}

.pag_button_current{
	background-color: #464;
	border: 1px solid #575;
}
